{% extends 'expense_app/layout.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="ui container segment">
  <div class="ui menu">
    <div class="header item">
      Bills for Month
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="month">
        </div>
      </div>
    </div>
  </div>
  <div class="ui middle aligned divided list">
    {% for bill in bills %}
    <div class="item">
      <div class="content right floated">
        <button class="ui blue button">Edit</button>
        <button class="ui negative button">Delete</button>
      </div>
      <div class="content">
        <a href="#" class="header">{{ bill.category }} - {{ bill.amount }}</a>
        <div class="description">
          {{ bill.description }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- <table class="ui celled table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Added on</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in bills %}
        <tr>
          <td data-label="Category">
            {{ bill.category }}
          </td>
          <td data-label="Description">
            {{ bill.description }}
          </td>
          <td data-label="Added on">
            {{ bill.created_at }}
          </td>
          <td data-label="Total Amount">
            {{ bill.amount }}
          </td>
        </tr>
      {% endfor %}
      <thead>
        <tr>
          <th>Total Amount</th>
          <td>{{ total }}</td>
          <th>Amount Per Share</th>
          <td>{{ share }}</td>
        </tr>
      </thead>
    </tbody>
  </table> -->
</div>
{% endblock %}