<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  <title>Expense | {% block title %} {% endblock %}</title>
</head>
<body>
  <!-- Navbar -->
  <div class="ui stackable menu">
    <div class="header item">
      Expense Tracker
    </div>
    {% if user.is_authenticated %}
      <a class="active item" href="{% url 'home' %}">Home</a>
      <div class="right menu">
        <a class="ui item" href="{% url 'logout' %}">Logout</a>
      </div>
    {% else %}
    <div class="right menu">
      <a class="ui item" href="{% url 'login' %}">Login</a>
      <a class="ui item" href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
  </div>
  <!-- Navbar ends -->
  {% block body %}
  {% endblock %}
</body>
</html>