{% extends 'expense_app/layout.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="ui container">
  <h1>Login</h1>
  <form class="ui form" method="POST">
    {% csrf_token %}
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit">Login</button>
  </form>
</div>
{% endblock %}