{% extends 'expense_app/layout.html' %}

{% block title %} Registration {% endblock %}


{% block body %}
<div class="ui container">
  <h1 class="ui header">Registration</h1>
  <form method="POST" class="ui form">
    {% csrf_token %}
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email" placeholder="email@example.com">
    </div>
    <div class="field">
      <label>Password</label>
      <div class="two fields">
        <div class="field">
          <input type="password" name="password" placeholder="password">
        </div>
        <div class="field">
          <input type="password" name="confirmation" placeholder="confirm password">
        </div>
      </div>
    </div>
    <button class="ui button" value="submit">Register</button>
  </form>
</div>
{% endblock %}