{% extends 'layout_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Register for a free account</h4>
        </div>
        <form action="" method="POST">
          <div class="form-group">
            <input 
              type="text"
              name="username"
              id="username"
              class="form-control"
              placeholder="Username"
            >
          </div>
          <div class="username-feedback" style="display: none;">
          </div>
          <div class="form-group">
            <input 
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email"
            >
          </div>
          <div class="form-group">
            <input 
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password"
            >
            <small class="float float-right py-3">Show Password</small>
          </div>
          <input type="submit" value="Register" class="btn btn-block btn-primary">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'expenses/js/register.js' %}"></script>
{% endblock %}